import random
maximum = 100
n = random.randint(1, maximum)
print("wellcome to my game")
print("hads bezan az 1 ta %d" % maximum)
guess = None
while guess != n:
    guess = int(input("your guess:"))
    if guess > n:
        print("is a lot")
    if guess < n:
        print("is low")

print("win you")
